<ion-menu id="menu" [content]="content">
  <ion-header>
    <ion-toolbar>
      <ion-title>pages</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <button icon-left *ngFor="let page of pages" ion-item menuClose (click)="openPage( page )">
        <ion-icon [name]="page.icon"></ion-icon>
        {{ page.title }}
      </button>
    </ion-list>
  </ion-content>
</ion-menu>

<ion-menu side="right" id="menuHeroes" [content]="content">
  <ion-header>
    <ion-toolbar>
      <ion-title>heroes</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <button icon-left *ngFor="let page of pagesHeroes" ion-item menuClose (click)="openPage( page )">
        <ion-icon [name]="page.icon"></ion-icon>
        {{ page.title }}
      </button>
    </ion-list>
  </ion-content>
</ion-menu>

<ion-nav [root]="rootPage" #content></ion-nav>
